extends ../head.pug
block head
    #page-wrapper(style='min-height: 616px;')
            .main-page
                br
                br
                br
                center
                    .forms
                        h3 ----------Thông tin user-------------
                        .form-three
                                form.form-horizontal
                                        .form-group
                                            label.col-sm-5.control-label(for="avatar") Avatar
                                            .col-sm-5
                                                if (users.avatar !== '')
                                                    img.border.border-success.rounded-lg(src = users.avatar, width="194",height ="194")
                                                else
                                                    img.border.border-success.rounded-lg(src='https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png', width="194",height ="194")
                                        .form-group
                                            label.col-sm-5.control-label(for="name") Full Name
                                            .col-sm-5
                                                input#name.form-control.input-sm(disabled='', type="text",name="name",placeholder = users.name)
                                        .form-group
                                            label.col-sm-5.control-label(for="phone") Phone
                                            .col-sm-5
                                                input#phone.form-control(disabled='',type="text",name="phone",placeholder = users.phone)
                                        .form-group
                                            label.col-sm-5.control-label(for="email") Email
                                            .col-sm-5
                                                input#email.form-control(disabled='',type="email",name="email",placeholder = users.email)
                                        .form-group
                                            label.col-sm-5.control-label(for="password") Password
                                            .col-sm-5
                                                input#password.form-control(disabled='',type="password",name="password", value = users.pass)
                                                a.btn.btn-info(href='') Đổi password
                                        .form-group
                                            label.col-sm-5.control-label(for="address") Address
                                            .col-sm-5
                                                input#address.form-control(disabled='',type="text",name="address", placeholder = users.address)
                                        .col-sm-10
                                            a.btn.btn-success(href='/account/edit') Cập nhật thông tin
                                            br
                                            br
                                            a.btn.btn-primary(href='/') Quay lại
                        h3 ----------Lịch sử đặt hàng-------------
