extends ../head.pug
block head
    #page-wrapper(style='min-height: 616px;')
        .main-page
            br
            br
            br
            .forms
                center
                    h3.title1 ----------Sửa Thông tin tài khoản-------------
                    .form-three.widget-shadow
                        form.form-horizontal(method='POST',action="/account/edit/"+users._id,enctype="multipart/form-data")
                                .form-group
                                    label.col-sm-5.control-label(for="avatar") Avatar
                                    .col-sm-5
                                        img.border.border-success.rounded-lg(src= users.avatar, width="194",height ="194")
                                    input(type='file', name = 'avatar')
                                .form-group
                                    label.col-sm-5.control-label(for="name") Full Name
                                    .col-sm-5
                                        input#name.form-control.input-sm(type="text",name="name",value = users.name)
                                .form-group
                                    label.col-sm-5.control-label(for="phone") Phone
                                    .col-sm-5
                                        input#phone.form-control(type="text",name="phone",value = users.phone)
                                .form-group
                                    label.col-sm-5.control-label(for="address") Address
                                    .col-sm-5
                                        input#address.form-control(type="text",name="address", value = users.address)
                                .form-group
                                    .col-sm-5
                                        button.btn.btn-success(acction='submit') Lưu
